services:
  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    networks:
      - game-sorter
  app:
    build: 
      context: .
    depends_on:
      - redis
    environment:
      STEAM_CLIENT_KEY: ${STEAM_CLIENT_KEY}
      STEAM_CLIENT_URL: ${STEAM_CLIENT_URL}
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - '${PORT}:${PORT}'
    networks:
      - game-sorter

networks:
  game-sorter: